1. Vict Sex (H -> X)
2. Change the datatype of PremisCd from double to int

In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /Users/adit0106/opt/anaconda3/lib/python3.9/site-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /Users/adit0106/opt/anaconda3/lib/python3.9/site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# from google.colab import drive
# drive.mount('/content/gdrive',force_remount=True)

Mounted at /content/gdrive

In [2]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.types import DateType
from pyspark.sql.functions import to_date, col, regexp_replace, concat_ws, lit, coalesce
from pyspark.sql import functions as F

In [3]:
# # VAIDEHI path to original dataset
# df = pd.read_csv("/content/gdrive/MyDrive/FALL 23/CS777/Term Project/Crime_Data_from_2020_to_Present.csv")
# df.head(3)

# ADITYA path to original dataset
df = pd.read_csv("/Users/adit0106/Desktop/CS777 Final Project/Crime_Data_from_2020_to_Present.csv")
#df = pd.read_csv("/content/gdrive/MyDrive/BU/SEM 3/CS777/CS 777 Final Project/Crime_Data_from_2020_to_Present.csv")
df.head(3)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474

In [4]:
# Spark Session
spark = SparkSession.builder.appName("cleaning_data").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/27 13:22:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
# Reading data into Spark Dataframe
# # VAIDEHI
# file_path = "/content/gdrive/MyDrive/FALL 23/CS777/Term Project/Crime_Data_from_2020_to_Present.csv"

# ADITYA
#file_path = "/content/gdrive/MyDrive/BU/SEM 3/CS777/CS 777 Final Project/Crime_Data_from_2020_to_Present.csv"
file_path = "/Users/adit0106/Desktop/CS777 Final Project/Crime_Data_from_2020_to_Present.csv"
df_spark = spark.read.csv(file_path, header=True, inferSchema=True)

df_spark.show(3)

23/11/27 13:22:55 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+---------+--------------------+--------------------+--------+----+---------+-----------+--------+------+--------------------+--------------+--------+--------+------------+---------+--------------------+--------------+--------------------+------+------------+--------+--------+--------+--------+--------------------+------------+-------+---------+
|    DR_NO|           Date Rptd|            DATE OCC|TIME OCC|AREA|AREA NAME|Rpt Dist No|Part 1-2|Crm Cd|         Crm Cd Desc|       Mocodes|Vict Age|Vict Sex|Vict Descent|Premis Cd|         Premis Desc|Weapon Used Cd|         Weapon Desc|Status| Status Desc|Crm Cd 1|Crm Cd 2|Crm Cd 3|Crm Cd 4|            LOCATION|Cross Street|    LAT|      LON|
+---------+--------------------+--------------------+--------+----+---------+-----------+--------+------+--------------------+--------------+--------+--------+------------+---------+--------------------+--------------+--------------------+------+------------+--------+--------+--------+--------+--------------------+------------+-------+---------+
| 10304468|01/08/2020 12:00:...|01/08/2020 12:00:...|    2230|   3|Southwest|        377|       2|   624|BATTERY - SIMPLE ...|     0444 0913|      36|       F|           B|      501|SINGLE FAMILY DWE...|           400|STRONG-ARM (HANDS...|    AO| Adult Other|     624|    NULL|    NULL|    NULL|1100 W  39TH     ...|        NULL|34.0141|-118.2978|
|190101086|01/02/2020 12:00:...|01/01/2020 12:00:...|     330|   1|  Central|        163|       2|   624|BATTERY - SIMPLE ...|0416 1822 1414|      25|       M|           H|      102|            SIDEWALK|           500|UNKNOWN WEAPON/OT...|    IC| Invest Cont|     624|    NULL|    NULL|    NULL|700 S  HILL      ...|        NULL|34.0459|-118.2545|
|200110444|04/14/2020 12:00:...|02/13/2020 12:00:...|    1200|   1|  Central|        155|       2|   845|SEX OFFENDER REGI...|          1501|       0|       X|           X|      726|     POLICE FACILITY|          NULL|                NULL|    AA|Adult Arrest|     845|    NULL|    NULL|    NULL|200 E  6TH       ...|        NULL|34.0448|-118.2474|
+---------+--------------------+--------------------+--------+----+---------+-----------+--------+------+--------------------+--------------+--------+--------+------------+---------+--------------------+--------------+--------------------+------+------------+--------+--------+--------+--------+--------------------+------------+-------+---------+
only showing top 3 rows

In [6]:
# Drop columns
columns_to_drop = ["DR_NO", "Weapon Used Cd", "Crm Cd 1", "Crm Cd 2", "Crm Cd 3", "Crm Cd 4"]
df_spark = df_spark.drop(*columns_to_drop)

df_spark.show(3)

+--------------------+--------------------+--------+----+---------+-----------+--------+------+--------------------+--------------+--------+--------+------------+---------+--------------------+--------------------+------+------------+--------------------+------------+-------+---------+
|           Date Rptd|            DATE OCC|TIME OCC|AREA|AREA NAME|Rpt Dist No|Part 1-2|Crm Cd|         Crm Cd Desc|       Mocodes|Vict Age|Vict Sex|Vict Descent|Premis Cd|         Premis Desc|         Weapon Desc|Status| Status Desc|            LOCATION|Cross Street|    LAT|      LON|
+--------------------+--------------------+--------+----+---------+-----------+--------+------+--------------------+--------------+--------+--------+------------+---------+--------------------+--------------------+------+------------+--------------------+------------+-------+---------+
|01/08/2020 12:00:...|01/08/2020 12:00:...|    2230|   3|Southwest|        377|       2|   624|BATTERY - SIMPLE ...|     0444 0913|      36|       F|           B|      501|SINGLE FAMILY DWE...|STRONG-ARM (HANDS...|    AO| Adult Other|1100 W  39TH     ...|        NULL|34.0141|-118.2978|
|01/02/2020 12:00:...|01/01/2020 12:00:...|     330|   1|  Central|        163|       2|   624|BATTERY - SIMPLE ...|0416 1822 1414|      25|       M|           H|      102|            SIDEWALK|UNKNOWN WEAPON/OT...|    IC| Invest Cont|700 S  HILL      ...|        NULL|34.0459|-118.2545|
|04/14/2020 12:00:...|02/13/2020 12:00:...|    1200|   1|  Central|        155|       2|   845|SEX OFFENDER REGI...|          1501|       0|       X|           X|      726|     POLICE FACILITY|                NULL|    AA|Adult Arrest|200 E  6TH       ...|        NULL|34.0448|-118.2474|
+--------------------+--------------------+--------+----+---------+-----------+--------+------+--------------------+--------------+--------+--------+------------+---------+--------------------+--------------------+------+------------+--------------------+------------+-------+---------+
only showing top 3 rows

In [7]:
# Dataframe Schema
df_spark.printSchema()

root
 |-- Date Rptd: string (nullable = true)
 |-- DATE OCC: string (nullable = true)
 |-- TIME OCC: integer (nullable = true)
 |-- AREA: integer (nullable = true)
 |-- AREA NAME: string (nullable = true)
 |-- Rpt Dist No: integer (nullable = true)
 |-- Part 1-2: integer (nullable = true)
 |-- Crm Cd: integer (nullable = true)
 |-- Crm Cd Desc: string (nullable = true)
 |-- Mocodes: string (nullable = true)
 |-- Vict Age: integer (nullable = true)
 |-- Vict Sex: string (nullable = true)
 |-- Vict Descent: string (nullable = true)
 |-- Premis Cd: integer (nullable = true)
 |-- Premis Desc: string (nullable = true)
 |-- Weapon Desc: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Status Desc: string (nullable = true)
 |-- LOCATION: string (nullable = true)
 |-- Cross Street: string (nullable = true)
 |-- LAT: double (nullable = true)
 |-- LON: double (nullable = true)

In [8]:
spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")

df_spark = df_spark.withColumn("Date Rptd", regexp_replace(col("Date Rptd"), ' 12:00:00 AM', ''))
df_spark = df_spark.withColumn("DATE OCC", regexp_replace(col("DATE OCC"), ' 12:00:00 AM', ''))

df_spark.show(5)

+----------+----------+--------+----+-----------+-----------+--------+------+--------------------+--------------+--------+--------+------------+---------+--------------------+--------------------+------+------------+--------------------+------------+-------+---------+
| Date Rptd|  DATE OCC|TIME OCC|AREA|  AREA NAME|Rpt Dist No|Part 1-2|Crm Cd|         Crm Cd Desc|       Mocodes|Vict Age|Vict Sex|Vict Descent|Premis Cd|         Premis Desc|         Weapon Desc|Status| Status Desc|            LOCATION|Cross Street|    LAT|      LON|
+----------+----------+--------+----+-----------+-----------+--------+------+--------------------+--------------+--------+--------+------------+---------+--------------------+--------------------+------+------------+--------------------+------------+-------+---------+
|01/08/2020|01/08/2020|    2230|   3|  Southwest|        377|       2|   624|BATTERY - SIMPLE ...|     0444 0913|      36|       F|           B|      501|SINGLE FAMILY DWE...|STRONG-ARM (HANDS...|    AO| Adult Other|1100 W  39TH     ...|        NULL|34.0141|-118.2978|
|01/02/2020|01/01/2020|     330|   1|    Central|        163|       2|   624|BATTERY - SIMPLE ...|0416 1822 1414|      25|       M|           H|      102|            SIDEWALK|UNKNOWN WEAPON/OT...|    IC| Invest Cont|700 S  HILL      ...|        NULL|34.0459|-118.2545|
|04/14/2020|02/13/2020|    1200|   1|    Central|        155|       2|   845|SEX OFFENDER REGI...|          1501|       0|       X|           X|      726|     POLICE FACILITY|                NULL|    AA|Adult Arrest|200 E  6TH       ...|        NULL|34.0448|-118.2474|
|01/01/2020|01/01/2020|    1730|  15|N Hollywood|       1543|       2|   745|VANDALISM - MISDE...|     0329 1402|      76|       F|           W|      502|MULTI-UNIT DWELLI...|                NULL|    IC| Invest Cont|5400    CORTEEN  ...|        NULL|34.1685|-118.4019|
|01/01/2020|01/01/2020|     415|  19|    Mission|       1998|       2|   740|VANDALISM - FELON...|          0329|      31|       X|           X|      409| BEAUTY SUPPLY STORE|                NULL|    IC| Invest Cont|14400    TITUS   ...|        NULL|34.2198|-118.4468|
+----------+----------+--------+----+-----------+-----------+--------+------+--------------------+--------------+--------+--------+------------+---------+--------------------+--------------------+------+------------+--------------------+------------+-------+---------+
only showing top 5 rows

In [9]:
# Date format set
df_spark = df_spark.withColumn("Date Rptd", to_date(df_spark["Date Rptd"], "MM/dd/yyyy"))
df_spark = df_spark.withColumn("Date Rptd", df_spark["Date Rptd"].cast(DateType()))

df_spark = df_spark.withColumn("DATE OCC", to_date(df_spark["DATE OCC"], "MM/dd/yyyy"))
df_spark = df_spark.withColumn("DATE OCC", df_spark["DATE OCC"].cast(DateType()))

In [10]:
# Dataframe Schema
df_spark.printSchema()

root
 |-- Date Rptd: date (nullable = true)
 |-- DATE OCC: date (nullable = true)
 |-- TIME OCC: integer (nullable = true)
 |-- AREA: integer (nullable = true)
 |-- AREA NAME: string (nullable = true)
 |-- Rpt Dist No: integer (nullable = true)
 |-- Part 1-2: integer (nullable = true)
 |-- Crm Cd: integer (nullable = true)
 |-- Crm Cd Desc: string (nullable = true)
 |-- Mocodes: string (nullable = true)
 |-- Vict Age: integer (nullable = true)
 |-- Vict Sex: string (nullable = true)
 |-- Vict Descent: string (nullable = true)
 |-- Premis Cd: integer (nullable = true)
 |-- Premis Desc: string (nullable = true)
 |-- Weapon Desc: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Status Desc: string (nullable = true)
 |-- LOCATION: string (nullable = true)
 |-- Cross Street: string (nullable = true)
 |-- LAT: double (nullable = true)
 |-- LON: double (nullable = true)

In [11]:
# merging two columns for address
df_spark = df_spark.withColumn("address", concat_ws(" ", coalesce(col("LOCATION"), lit("")), coalesce(col("Cross Street"), lit(""))))

In [12]:
df_spark = df_spark.withColumn("address", regexp_replace(col("address"), "\s+", " "))

columns_to_drop = ["LOCATION", "Cross Street"]
df_spark = df_spark.drop(*columns_to_drop)

df_spark.show(3)

+----------+----------+--------+----+---------+-----------+--------+------+--------------------+--------------+--------+--------+------------+---------+--------------------+--------------------+------+------------+-------+---------+---------------+
| Date Rptd|  DATE OCC|TIME OCC|AREA|AREA NAME|Rpt Dist No|Part 1-2|Crm Cd|         Crm Cd Desc|       Mocodes|Vict Age|Vict Sex|Vict Descent|Premis Cd|         Premis Desc|         Weapon Desc|Status| Status Desc|    LAT|      LON|        address|
+----------+----------+--------+----+---------+-----------+--------+------+--------------------+--------------+--------+--------+------------+---------+--------------------+--------------------+------+------------+-------+---------+---------------+
|2020-01-08|2020-01-08|    2230|   3|Southwest|        377|       2|   624|BATTERY - SIMPLE ...|     0444 0913|      36|       F|           B|      501|SINGLE FAMILY DWE...|STRONG-ARM (HANDS...|    AO| Adult Other|34.0141|-118.2978|1100 W 39TH PL |
|2020-01-02|2020-01-01|     330|   1|  Central|        163|       2|   624|BATTERY - SIMPLE ...|0416 1822 1414|      25|       M|           H|      102|            SIDEWALK|UNKNOWN WEAPON/OT...|    IC| Invest Cont|34.0459|-118.2545| 700 S HILL ST |
|2020-04-14|2020-02-13|    1200|   1|  Central|        155|       2|   845|SEX OFFENDER REGI...|          1501|       0|       X|           X|      726|     POLICE FACILITY|                NULL|    AA|Adult Arrest|34.0448|-118.2474|  200 E 6TH ST |
+----------+----------+--------+----+---------+-----------+--------+------+--------------------+--------------+--------+--------+------------+---------+--------------------+--------------------+------+------------+-------+---------+---------------+
only showing top 3 rows

In [13]:
# Dataframe Schema
df_spark.printSchema()

root
 |-- Date Rptd: date (nullable = true)
 |-- DATE OCC: date (nullable = true)
 |-- TIME OCC: integer (nullable = true)
 |-- AREA: integer (nullable = true)
 |-- AREA NAME: string (nullable = true)
 |-- Rpt Dist No: integer (nullable = true)
 |-- Part 1-2: integer (nullable = true)
 |-- Crm Cd: integer (nullable = true)
 |-- Crm Cd Desc: string (nullable = true)
 |-- Mocodes: string (nullable = true)
 |-- Vict Age: integer (nullable = true)
 |-- Vict Sex: string (nullable = true)
 |-- Vict Descent: string (nullable = true)
 |-- Premis Cd: integer (nullable = true)
 |-- Premis Desc: string (nullable = true)
 |-- Weapon Desc: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Status Desc: string (nullable = true)
 |-- LAT: double (nullable = true)
 |-- LON: double (nullable = true)
 |-- address: string (nullable = false)

In [14]:
# Renaming all the columns
new_column_names = ['DateRptd', 'DateOcc', 'TimeOcc', 'AreaCd', 'AreaName', 'RptDistNo', 'CrimeType', 'CrmCd', 'CrmCdDesc', 'Mocodes', 'VictAge', 'VictSex', 'VictDescent', 'PremisCd', 'PremisDesc', 'Weapon', 'Status', 'StatusDesc', 'Latitude', 'Longitude', 'Address']
df_spark = df_spark.toDF(*new_column_names)

df_spark.show(3)

+----------+----------+-------+------+---------+---------+---------+-----+--------------------+--------------+-------+-------+-----------+--------+--------------------+--------------------+------+------------+--------+---------+---------------+
|  DateRptd|   DateOcc|TimeOcc|AreaCd| AreaName|RptDistNo|CrimeType|CrmCd|           CrmCdDesc|       Mocodes|VictAge|VictSex|VictDescent|PremisCd|          PremisDesc|              Weapon|Status|  StatusDesc|Latitude|Longitude|        Address|
+----------+----------+-------+------+---------+---------+---------+-----+--------------------+--------------+-------+-------+-----------+--------+--------------------+--------------------+------+------------+--------+---------+---------------+
|2020-01-08|2020-01-08|   2230|     3|Southwest|      377|        2|  624|BATTERY - SIMPLE ...|     0444 0913|     36|      F|          B|     501|SINGLE FAMILY DWE...|STRONG-ARM (HANDS...|    AO| Adult Other| 34.0141|-118.2978|1100 W 39TH PL |
|2020-01-02|2020-01-01|    330|     1|  Central|      163|        2|  624|BATTERY - SIMPLE ...|0416 1822 1414|     25|      M|          H|     102|            SIDEWALK|UNKNOWN WEAPON/OT...|    IC| Invest Cont| 34.0459|-118.2545| 700 S HILL ST |
|2020-04-14|2020-02-13|   1200|     1|  Central|      155|        2|  845|SEX OFFENDER REGI...|          1501|      0|      X|          X|     726|     POLICE FACILITY|                NULL|    AA|Adult Arrest| 34.0448|-118.2474|  200 E 6TH ST |
+----------+----------+-------+------+---------+---------+---------+-----+--------------------+--------------+-------+-------+-----------+--------+--------------------+--------------------+------+------------+--------+---------+---------------+
only showing top 3 rows

In [15]:
# Define the mapping of values to be replaced
descent_mapping = {
    'A': 'Other Asian',
    'B': 'Black',
    'C': 'Chinese',
    'D': 'Cambodian',
    'F': 'Filipino',
    'G': 'Guamanian',
    'H': 'Hispanic/Latin/Mexican',
    'I': 'American Indian/Alaskan Native',
    'J': 'Japanese',
    'K': 'Korean',
    'L': 'Laotian',
    'O': 'Other',
    'P': 'Pacific Islander',
    'S': 'Samoan',
    'U': 'Hawaiian',
    'V': 'Vietnamese',
    'W': 'White',
    'X': 'None',
    'Z': 'Asian Indian',
    'None': 'Other',
    '-': 'Other'
}

# Replace values in the 'VictDescent' column using when() and otherwise()
df_spark = df_spark.withColumn('VictDescent',
                               F.when(F.col('VictDescent').isin(list(descent_mapping.keys())),
                                      F.create_map([F.lit(x) for x in sum(descent_mapping.items(), ())])[F.col('VictDescent')])
                                .otherwise(F.col('VictDescent')))

# Show the updated DataFrame
df_spark.show(10)

+----------+----------+-------+------+-----------+---------+---------+-----+--------------------+-------------------+-------+-------+--------------------+--------+--------------------+--------------------+------+------------+--------+---------+------------------+
|  DateRptd|   DateOcc|TimeOcc|AreaCd|   AreaName|RptDistNo|CrimeType|CrmCd|           CrmCdDesc|            Mocodes|VictAge|VictSex|         VictDescent|PremisCd|          PremisDesc|              Weapon|Status|  StatusDesc|Latitude|Longitude|           Address|
+----------+----------+-------+------+-----------+---------+---------+-----+--------------------+-------------------+-------+-------+--------------------+--------+--------------------+--------------------+------+------------+--------+---------+------------------+
|2020-01-08|2020-01-08|   2230|     3|  Southwest|      377|        2|  624|BATTERY - SIMPLE ...|          0444 0913|     36|      F|               Black|     501|SINGLE FAMILY DWE...|STRONG-ARM (HANDS...|    AO| Adult Other| 34.0141|-118.2978|   1100 W 39TH PL |
|2020-01-02|2020-01-01|    330|     1|    Central|      163|        2|  624|BATTERY - SIMPLE ...|     0416 1822 1414|     25|      M|Hispanic/Latin/Me...|     102|            SIDEWALK|UNKNOWN WEAPON/OT...|    IC| Invest Cont| 34.0459|-118.2545|    700 S HILL ST |
|2020-04-14|2020-02-13|   1200|     1|    Central|      155|        2|  845|SEX OFFENDER REGI...|               1501|      0|      X|                None|     726|     POLICE FACILITY|                NULL|    AA|Adult Arrest| 34.0448|-118.2474|     200 E 6TH ST |
|2020-01-01|2020-01-01|   1730|    15|N Hollywood|     1543|        2|  745|VANDALISM - MISDE...|          0329 1402|     76|      F|               White|     502|MULTI-UNIT DWELLI...|                NULL|    IC| Invest Cont| 34.1685|-118.4019|  5400 CORTEEN PL |
|2020-01-01|2020-01-01|    415|    19|    Mission|     1998|        2|  740|VANDALISM - FELON...|               0329|     31|      X|                None|     409| BEAUTY SUPPLY STORE|                NULL|    IC| Invest Cont| 34.2198|-118.4468|   14400 TITUS ST |
|2020-01-02|2020-01-01|     30|     1|    Central|      163|        1|  121|      RAPE, FORCIBLE|0413 1822 1262 1415|     25|      F|Hispanic/Latin/Me...|     735|NIGHT CLUB (OPEN ...|UNKNOWN WEAPON/OT...|    IC| Invest Cont| 34.0452|-118.2534|   700 S BROADWAY |
|2020-01-02|2020-01-02|   1315|     1|    Central|      161|        1|  442|SHOPLIFTING - PET...|1402 2004 0344 0387|     23|      M|Hispanic/Latin/Me...|     404|    DEPARTMENT STORE|                NULL|    IC| Invest Cont| 34.0483|-118.2631|700 S FIGUEROA ST |
|2020-01-04|2020-01-04|     40|     1|    Central|      155|        2|  946|OTHER MISCELLANEO...|          1402 0392|      0|      X|                None|     726|     POLICE FACILITY|                NULL|    IC| Invest Cont| 34.0448|-118.2474|     200 E 6TH ST |
|2020-01-04|2020-01-04|    200|     1|    Central|      101|        1|  341|THEFT-GRAND ($950...|     1822 0344 1402|     23|      M|               Black|     502|MULTI-UNIT DWELLI...|                NULL|    IC| Invest Cont| 34.0677|-118.2398|   700 BERNARD ST |
|2020-06-19|2020-05-26|   1925|    17| Devonshire|     1708|        1|  341|THEFT-GRAND ($950...|1300 0202 0378 0325|      0|      X|                None|     203|      OTHER BUSINESS|                NULL|    AO| Adult Other| 34.2864|-118.5021|  11900 BALBOA BL |
+----------+----------+-------+------+-----------+---------+---------+-----+--------------------+-------------------+-------+-------+--------------------+--------+--------------------+--------------------+------+------------+--------+---------+------------------+
only showing top 10 rows

In [17]:
# Replace blank values in 'VictDesc' column with 'None'
df_spark = df_spark.withColumn('VictDescent', F.when(col('VictDescent').isNull() , 'NULL').otherwise(df_spark['VictDescent']))

In [18]:
# Get counts of unique values in 'VictDescent' column
counts_per_vict_descent = df_spark.groupBy('VictDescent').count().orderBy('count', ascending=False)

# Show unique values with counts
counts_per_vict_descent.show()

+--------------------+------+
|         VictDescent| count|
+--------------------+------+
|Hispanic/Latin/Me...|250450|
|               White|166398|
|               Black|116358|
|                NULL|107200|
|                None| 78397|
|               Other| 64643|
|         Other Asian| 17863|
|              Korean|  4329|
|            Filipino|  3391|
|             Chinese|  3107|
|            Japanese|  1135|
|          Vietnamese|   835|
|American Indian/A...|   771|
|        Asian Indian|   411|
|    Pacific Islander|   218|
|            Hawaiian|   166|
|           Cambodian|    60|
|           Guamanian|    56|
|             Laotian|    49|
|              Samoan|    45|
+--------------------+------+

In [19]:
# Get counts of unique values in 'VictSex' column
counts_per_vict_sex = df_spark.groupBy('VictSex').count().orderBy('count', ascending=False)

# Show unique values with counts
counts_per_vict_sex.show()

+-------+------+
|VictSex| count|
+-------+------+
|      M|337050|
|      F|300602|
|   NULL|107192|
|      X| 70947|
|      H|    90|
|      -|     1|
+-------+------+

In [20]:
# Replace blank values in 'VictDesc' column with 'None'
df_spark = df_spark.withColumn('VictSex', F.when(col('VictSex').isNull() , 'NULL').otherwise(df_spark['VictSex']))
df_spark = df_spark.withColumn('VictSex', F.when(col('VictSex')=='H' , 'X').otherwise(df_spark['VictSex']))
df_spark = df_spark.withColumn('VictSex', F.when(col('VictSex')=='-' , 'X').otherwise(df_spark['VictSex']))

In [21]:
# Get counts of unique values in 'VictSex' column
counts_per_vict_sex = df_spark.groupBy('VictSex').count().orderBy('count', ascending=False)

# Show unique values with counts
counts_per_vict_sex.show()

+-------+------+
|VictSex| count|
+-------+------+
|      M|337050|
|      F|300602|
|   NULL|107192|
|      X| 71038|
+-------+------+

In [22]:
# Get column names
columns = df_spark.columns

# Check for NULL values in each column
for col_name in columns:
    null_count = df_spark.filter(col(col_name).isNull() | (col(col_name) == '')).count()
    print(f"Column '{col_name}': {null_count} NULL values")

Column 'DateRptd': 0 NULL values
Column 'DateOcc': 0 NULL values
Column 'TimeOcc': 0 NULL values
Column 'AreaCd': 0 NULL values
Column 'AreaName': 0 NULL values
Column 'RptDistNo': 0 NULL values
Column 'CrimeType': 0 NULL values
Column 'CrmCd': 0 NULL values
Column 'CrmCdDesc': 0 NULL values
Column 'Mocodes': 112762 NULL values
Column 'VictAge': 0 NULL values
Column 'VictSex': 0 NULL values
Column 'VictDescent': 0 NULL values
Column 'PremisCd': 9 NULL values
Column 'PremisDesc': 480 NULL values
Column 'Weapon': 531448 NULL values
Column 'Status': 0 NULL values
Column 'StatusDesc': 0 NULL values
Column 'Latitude': 0 NULL values
Column 'Longitude': 0 NULL values
Column 'Address': 0 NULL values

In [23]:
# Get counts of unique values in 'Weapon' column
counts_per_weapon = df_spark.groupBy('Weapon').count().orderBy('count', ascending=False)

# Show unique values with counts
counts_per_weapon.show()

+--------------------+------+
|              Weapon| count|
+--------------------+------+
|                NULL|531448|
|STRONG-ARM (HANDS...|152422|
|UNKNOWN WEAPON/OT...| 30128|
|       VERBAL THREAT| 20859|
|            HAND GUN| 17607|
|SEMI-AUTOMATIC PI...|  6410|
|KNIFE WITH BLADE ...|  6014|
|     UNKNOWN FIREARM|  5777|
|         OTHER KNIFE|  5142|
|   MACE/PEPPER SPRAY|  3231|
|             VEHICLE|  2871|
|  ROCK/THROWN OBJECT|  2419|
|     PIPE/METAL PIPE|  2170|
|              BOTTLE|  2128|
|               STICK|  2011|
|       FOLDING KNIFE|  1961|
|            CLUB/BAT|  1862|
|       KITCHEN KNIFE|  1666|
|AIR PISTOL/REVOLV...|  1657|
|KNIFE WITH BLADE ...|  1504|
+--------------------+------+
only showing top 20 rows

In [24]:
df_spark = df_spark.withColumn('Weapon', F.when(col('Weapon').isNull() , 'NO WEAPON INFO').otherwise(df_spark['Weapon']))

In [25]:
# Get counts of unique values in 'Weapon' column
counts_per_weapon = df_spark.groupBy('Weapon').count().orderBy('count', ascending=False)

# Show unique values with counts
counts_per_weapon.show()

+--------------------+------+
|              Weapon| count|
+--------------------+------+
|      NO WEAPON INFO|531448|
|STRONG-ARM (HANDS...|152422|
|UNKNOWN WEAPON/OT...| 30128|
|       VERBAL THREAT| 20859|
|            HAND GUN| 17607|
|SEMI-AUTOMATIC PI...|  6410|
|KNIFE WITH BLADE ...|  6014|
|     UNKNOWN FIREARM|  5777|
|         OTHER KNIFE|  5142|
|   MACE/PEPPER SPRAY|  3231|
|             VEHICLE|  2871|
|  ROCK/THROWN OBJECT|  2419|
|     PIPE/METAL PIPE|  2170|
|              BOTTLE|  2128|
|               STICK|  2011|
|       FOLDING KNIFE|  1961|
|            CLUB/BAT|  1862|
|       KITCHEN KNIFE|  1666|
|AIR PISTOL/REVOLV...|  1657|
|KNIFE WITH BLADE ...|  1504|
+--------------------+------+
only showing top 20 rows

In [26]:
# Drop rows with NULL values in 'PremisCd' or 'PremisDesc' columns
df_spark = df_spark.filter((col('PremisCd').isNotNull()) & (col('PremisDesc').isNotNull()))

# Show the cleaned DataFrame
df_spark.show()

+----------+----------+-------+------+-----------+---------+---------+-----+--------------------+--------------------+-------+-------+--------------------+--------+--------------------+--------------------+------+------------+--------+---------+--------------------+
|  DateRptd|   DateOcc|TimeOcc|AreaCd|   AreaName|RptDistNo|CrimeType|CrmCd|           CrmCdDesc|             Mocodes|VictAge|VictSex|         VictDescent|PremisCd|          PremisDesc|              Weapon|Status|  StatusDesc|Latitude|Longitude|             Address|
+----------+----------+-------+------+-----------+---------+---------+-----+--------------------+--------------------+-------+-------+--------------------+--------+--------------------+--------------------+------+------------+--------+---------+--------------------+
|2020-01-08|2020-01-08|   2230|     3|  Southwest|      377|        2|  624|BATTERY - SIMPLE ...|           0444 0913|     36|      F|               Black|     501|SINGLE FAMILY DWE...|STRONG-ARM (HANDS...|    AO| Adult Other| 34.0141|-118.2978|     1100 W 39TH PL |
|2020-01-02|2020-01-01|    330|     1|    Central|      163|        2|  624|BATTERY - SIMPLE ...|      0416 1822 1414|     25|      M|Hispanic/Latin/Me...|     102|            SIDEWALK|UNKNOWN WEAPON/OT...|    IC| Invest Cont| 34.0459|-118.2545|      700 S HILL ST |
|2020-04-14|2020-02-13|   1200|     1|    Central|      155|        2|  845|SEX OFFENDER REGI...|                1501|      0|      X|                None|     726|     POLICE FACILITY|      NO WEAPON INFO|    AA|Adult Arrest| 34.0448|-118.2474|       200 E 6TH ST |
|2020-01-01|2020-01-01|   1730|    15|N Hollywood|     1543|        2|  745|VANDALISM - MISDE...|           0329 1402|     76|      F|               White|     502|MULTI-UNIT DWELLI...|      NO WEAPON INFO|    IC| Invest Cont| 34.1685|-118.4019|    5400 CORTEEN PL |
|2020-01-01|2020-01-01|    415|    19|    Mission|     1998|        2|  740|VANDALISM - FELON...|                0329|     31|      X|                None|     409| BEAUTY SUPPLY STORE|      NO WEAPON INFO|    IC| Invest Cont| 34.2198|-118.4468|     14400 TITUS ST |
|2020-01-02|2020-01-01|     30|     1|    Central|      163|        1|  121|      RAPE, FORCIBLE| 0413 1822 1262 1415|     25|      F|Hispanic/Latin/Me...|     735|NIGHT CLUB (OPEN ...|UNKNOWN WEAPON/OT...|    IC| Invest Cont| 34.0452|-118.2534|     700 S BROADWAY |
|2020-01-02|2020-01-02|   1315|     1|    Central|      161|        1|  442|SHOPLIFTING - PET...| 1402 2004 0344 0387|     23|      M|Hispanic/Latin/Me...|     404|    DEPARTMENT STORE|      NO WEAPON INFO|    IC| Invest Cont| 34.0483|-118.2631|  700 S FIGUEROA ST |
|2020-01-04|2020-01-04|     40|     1|    Central|      155|        2|  946|OTHER MISCELLANEO...|           1402 0392|      0|      X|                None|     726|     POLICE FACILITY|      NO WEAPON INFO|    IC| Invest Cont| 34.0448|-118.2474|       200 E 6TH ST |
|2020-01-04|2020-01-04|    200|     1|    Central|      101|        1|  341|THEFT-GRAND ($950...|      1822 0344 1402|     23|      M|               Black|     502|MULTI-UNIT DWELLI...|      NO WEAPON INFO|    IC| Invest Cont| 34.0677|-118.2398|     700 BERNARD ST |
|2020-06-19|2020-05-26|   1925|    17| Devonshire|     1708|        1|  341|THEFT-GRAND ($950...| 1300 0202 0378 0325|      0|      X|                None|     203|      OTHER BUSINESS|      NO WEAPON INFO|    AO| Adult Other| 34.2864|-118.5021|    11900 BALBOA BL |
|2020-01-04|2020-01-04|   2200|     1|    Central|      192|        1|  330|BURGLARY FROM VEH...| 1822 1414 0344 1307|     29|      M|         Other Asian|     101|              STREET|  ROCK/THROWN OBJECT|    IC| Invest Cont| 34.0359|-118.2648|          15TH OLIVE|
|2020-01-05|2020-01-05|    955|     1|    Central|      111|        2|  930|CRIMINAL THREATS ...|           0421 0906|     35|      M|               Other|     108|         PARKING LOT|       VERBAL THREAT|    IC| Invest Cont| 34.0615|-118.2412|   800 N ALAMEDA ST |
|2020-01-05|2020-01-05|   1355|     1|    Central|      162|        1|  341|THEFT-GRAND ($950...|      1822 0344 2032|     41|      M|         Other Asian|     503|               HOTEL|      NO WEAPON INFO|    AA|Adult Arrest| 34.0452|-118.2569|     800 S OLIVE ST |
|2020-01-07|2020-01-07|   1638|     1|    Central|      162|        1|  648|               ARSON|      1402 1501 2004|      0|      X|                None|     404|    DEPARTMENT STORE|UNKNOWN WEAPON/OT...|    IC| Invest Cont|  34.048|-118.2577|       700 W 7TH ST |
|2020-01-08|2020-01-08|   1805|     1|    Central|      128|        1|  442|SHOPLIFTING - PET...| 0325 1402 0344 1822|     24|      F|Hispanic/Latin/Me...|     252|COFFEE SHOP (STAR...|      NO WEAPON INFO|    IC| Invest Cont| 34.0515|-118.2424|100 S LOS ANGELES...|
|2021-11-26|2020-11-30|    730|    19|    Mission|     1916|        2|  626|INTIMATE PARTNER ...|      2000 1814 0416|     24|      F|Hispanic/Latin/Me...|     501|SINGLE FAMILY DWE...|STRONG-ARM (HANDS...|    IC| Invest Cont| 34.3055|-118.4439|      14200 BERG ST |
|2020-11-29|2020-11-28|   2018|    11|  Northeast|     1124|        2|  626|INTIMATE PARTNER ...| 0400 0416 1814 2000|     34|      F|Hispanic/Latin/Me...|     501|SINGLE FAMILY DWE...|STRONG-ARM (HANDS...|    AO| Adult Other| 34.1186| -118.245|   3200 W AVENUE 32 |
|2020-02-22|2020-02-22|   1900|     5|     Harbor|      511|        1|  440|THEFT PLAIN - PET...|0319 0344 0429 04...|     29|      F|               White|     102|            SIDEWALK|STRONG-ARM (HANDS...|    IC| Invest Cont| 33.7926|-118.3043|PACIFIC COAST VER...|
|2021-11-22|2020-11-19|   1200|     9|   Van Nuys|      932|        2|  354|   THEFT OF IDENTITY|           1501 1822|     46|      M|               Black|     502|MULTI-UNIT DWELLI...|      NO WEAPON INFO|    IC| Invest Cont| 34.1857|-118.4574|     14700 FRIAR ST |
|2020-01-14|2020-01-14|   1330|     1|    Central|      152|        1|  210|             ROBBERY|0416 0411 0344 18...|     66|      M|               Black|     103|               ALLEY|       FOLDING KNIFE|    IC| Invest Cont| 34.0463| -118.255|            7TH HILL|
+----------+----------+-------+------+-----------+---------+---------+-----+--------------------+--------------------+-------+-------+--------------------+--------+--------------------+--------------------+------+------------+--------+---------+--------------------+
only showing top 20 rows

In [27]:
# Get column names
columns = df_spark.columns

# Check for NULL values in each column
for col_name in columns:
    null_count = df_spark.filter(col(col_name).isNull() | (col(col_name) == '')).count()
    print(f"Column '{col_name}': {null_count} NULL values")

Column 'DateRptd': 0 NULL values
Column 'DateOcc': 0 NULL values
Column 'TimeOcc': 0 NULL values
Column 'AreaCd': 0 NULL values
Column 'AreaName': 0 NULL values
Column 'RptDistNo': 0 NULL values
Column 'CrimeType': 0 NULL values
Column 'CrmCd': 0 NULL values
Column 'CrmCdDesc': 0 NULL values
Column 'Mocodes': 112751 NULL values
Column 'VictAge': 0 NULL values
Column 'VictSex': 0 NULL values
Column 'VictDescent': 0 NULL values
Column 'PremisCd': 0 NULL values
Column 'PremisDesc': 0 NULL values
Column 'Weapon': 0 NULL values
Column 'Status': 0 NULL values
Column 'StatusDesc': 0 NULL values
Column 'Latitude': 0 NULL values
Column 'Longitude': 0 NULL values
Column 'Address': 0 NULL values

In [28]:
from pyspark.sql.functions import count, when

# Assuming 'df_spark' is your PySpark DataFrame

# Get the count of non-null values in each column
column_counts = df_spark.agg(*[
    count(when(col(c).isNotNull(), c)).alias(c + '_count') for c in df_spark.columns
])

# Show the count of non-null values in each column
column_counts.show()

+--------------+-------------+-------------+------------+--------------+---------------+---------------+-----------+---------------+-------------+-------------+-------------+-----------------+--------------+----------------+------------+------------+----------------+--------------+---------------+-------------+
|DateRptd_count|DateOcc_count|TimeOcc_count|AreaCd_count|AreaName_count|RptDistNo_count|CrimeType_count|CrmCd_count|CrmCdDesc_count|Mocodes_count|VictAge_count|VictSex_count|VictDescent_count|PremisCd_count|PremisDesc_count|Weapon_count|Status_count|StatusDesc_count|Latitude_count|Longitude_count|Address_count|
+--------------+-------------+-------------+------------+--------------+---------------+---------------+-----------+---------------+-------------+-------------+-------------+-----------------+--------------+----------------+------------+------------+----------------+--------------+---------------+-------------+
|        815402|       815402|       815402|      815402|        815402|         815402|         815402|     815402|         815402|       702651|       815402|       815402|           815402|        815402|          815402|      815402|      815402|          815402|        815402|         815402|       815402|
+--------------+-------------+-------------+------------+--------------+---------------+---------------+-----------+---------------+-------------+-------------+-------------+-----------------+--------------+----------------+------------+------------+----------------+--------------+---------------+-------------+

In [29]:
df_spark.show(5)

+----------+----------+-------+------+-----------+---------+---------+-----+--------------------+--------------+-------+-------+--------------------+--------+--------------------+--------------------+------+------------+--------+---------+----------------+
|  DateRptd|   DateOcc|TimeOcc|AreaCd|   AreaName|RptDistNo|CrimeType|CrmCd|           CrmCdDesc|       Mocodes|VictAge|VictSex|         VictDescent|PremisCd|          PremisDesc|              Weapon|Status|  StatusDesc|Latitude|Longitude|         Address|
+----------+----------+-------+------+-----------+---------+---------+-----+--------------------+--------------+-------+-------+--------------------+--------+--------------------+--------------------+------+------------+--------+---------+----------------+
|2020-01-08|2020-01-08|   2230|     3|  Southwest|      377|        2|  624|BATTERY - SIMPLE ...|     0444 0913|     36|      F|               Black|     501|SINGLE FAMILY DWE...|STRONG-ARM (HANDS...|    AO| Adult Other| 34.0141|-118.2978| 1100 W 39TH PL |
|2020-01-02|2020-01-01|    330|     1|    Central|      163|        2|  624|BATTERY - SIMPLE ...|0416 1822 1414|     25|      M|Hispanic/Latin/Me...|     102|            SIDEWALK|UNKNOWN WEAPON/OT...|    IC| Invest Cont| 34.0459|-118.2545|  700 S HILL ST |
|2020-04-14|2020-02-13|   1200|     1|    Central|      155|        2|  845|SEX OFFENDER REGI...|          1501|      0|      X|                None|     726|     POLICE FACILITY|      NO WEAPON INFO|    AA|Adult Arrest| 34.0448|-118.2474|   200 E 6TH ST |
|2020-01-01|2020-01-01|   1730|    15|N Hollywood|     1543|        2|  745|VANDALISM - MISDE...|     0329 1402|     76|      F|               White|     502|MULTI-UNIT DWELLI...|      NO WEAPON INFO|    IC| Invest Cont| 34.1685|-118.4019|5400 CORTEEN PL |
|2020-01-01|2020-01-01|    415|    19|    Mission|     1998|        2|  740|VANDALISM - FELON...|          0329|     31|      X|                None|     409| BEAUTY SUPPLY STORE|      NO WEAPON INFO|    IC| Invest Cont| 34.2198|-118.4468| 14400 TITUS ST |
+----------+----------+-------+------+-----------+---------+---------+-----+--------------------+--------------+-------+-------+--------------------+--------+--------------------+--------------------+------+------------+--------+---------+----------------+
only showing top 5 rows

## BUSINESS PROBLEM 1:

## Does the demographic of a person make them more susceptible to crime? And the type of crime?

In [49]:
df_spark.show(5)

+----------+----------+-------+------+-----------+---------+---------+-----+--------------------+--------------+-------+-------+--------------------+--------+--------------------+--------------------+------+------------+--------+---------+----------------+
|  DateRptd|   DateOcc|TimeOcc|AreaCd|   AreaName|RptDistNo|CrimeType|CrmCd|           CrmCdDesc|       Mocodes|VictAge|VictSex|         VictDescent|PremisCd|          PremisDesc|              Weapon|Status|  StatusDesc|Latitude|Longitude|         Address|
+----------+----------+-------+------+-----------+---------+---------+-----+--------------------+--------------+-------+-------+--------------------+--------+--------------------+--------------------+------+------------+--------+---------+----------------+
|2020-01-08|2020-01-08|   2230|     3|  Southwest|      377|        2|  624|BATTERY - SIMPLE ...|     0444 0913|     36|      F|               Black|     501|SINGLE FAMILY DWE...|STRONG-ARM (HANDS...|    AO| Adult Other| 34.0141|-118.2978| 1100 W 39TH PL |
|2020-01-02|2020-01-01|    330|     1|    Central|      163|        2|  624|BATTERY - SIMPLE ...|0416 1822 1414|     25|      M|Hispanic/Latin/Me...|     102|            SIDEWALK|UNKNOWN WEAPON/OT...|    IC| Invest Cont| 34.0459|-118.2545|  700 S HILL ST |
|2020-04-14|2020-02-13|   1200|     1|    Central|      155|        2|  845|SEX OFFENDER REGI...|          1501|      0|      X|                None|     726|     POLICE FACILITY|      NO WEAPON INFO|    AA|Adult Arrest| 34.0448|-118.2474|   200 E 6TH ST |
|2020-01-01|2020-01-01|   1730|    15|N Hollywood|     1543|        2|  745|VANDALISM - MISDE...|     0329 1402|     76|      F|               White|     502|MULTI-UNIT DWELLI...|      NO WEAPON INFO|    IC| Invest Cont| 34.1685|-118.4019|5400 CORTEEN PL |
|2020-01-01|2020-01-01|    415|    19|    Mission|     1998|        2|  740|VANDALISM - FELON...|          0329|     31|      X|                None|     409| BEAUTY SUPPLY STORE|      NO WEAPON INFO|    IC| Invest Cont| 34.2198|-118.4468| 14400 TITUS ST |
+----------+----------+-------+------+-----------+---------+---------+-----+--------------------+--------------+-------+-------+--------------------+--------+--------------------+--------------------+------+------------+--------+---------+----------------+
only showing top 5 rows

VictAge, VictSex, VictDescent, CrimeType

In [50]:
# Selecting specific columns and filtering ages above 0
df_prob1 = df_spark.select("VictAge", "VictSex", "VictDescent", "CrimeType").filter((col("VictAge") > 0) & (col("VictSex") != 'NULL') & (col("VictDescent") != 'None')& (col("VictDescent") != 'NULL'))

# Displaying the schema to ensure the columns are selected correctly
df_prob1.printSchema()

root
 |-- VictAge: integer (nullable = true)
 |-- VictSex: string (nullable = true)
 |-- VictDescent: string (nullable = true)
 |-- CrimeType: integer (nullable = true)

In [58]:
import psycopg2

conn = psycopg2.connect(
    host = 'localhost',
    dbname = 'cs777',
    user = 'postgres',
    password = 'IronMan@0132', 
    port = 5432
)

In [61]:
df_demographic = df_prob1.toPandas()

In [62]:
df_demographic.head()

   VictAge VictSex             VictDescent  CrimeType
0       36       F                   Black          2
1       25       M  Hispanic/Latin/Mexican          2
2       76       F                   White          2
3       25       F  Hispanic/Latin/Mexican          1
4       23       M  Hispanic/Latin/Mexican          1

In [69]:
from sqlalchemy import create_engine
connection_str = 'postgresql://postgres:IronMan%400132@localhost:5432/cs777'
engine = create_engine(connection_str)

In [70]:
engine

Engine(postgresql://postgres:***@localhost:5432/cs777)

In [71]:
df_demographic.to_sql('demographic', engine, index=False, if_exists='replace')

654

In [ ]:
df_prob1.show(3)

## Making dataset to be pushed onto PostgreSQL

In [ ]:
# Selecting specific columns and filtering ages above 0
df_tableau = df_spark.select("VictAge", "VictSex", "VictDescent", "CrimeType").filter((col("VictAge") > 0) & (col("VictSex") != 'NULL') & (col("VictDescent") != 'None')& (col("VictDescent") != 'NULL'))

# Displaying the schema to ensure the columns are selected correctly
df_tableau.printSchema()